.wrap { width:96%; display:inline-block; padding:2%;}
.mylist { width:100%; display:inline-block; text-align:center;}
.mylist a { padding:4px 0 6px 0; font-family: 'Exo', sans-serif; font-size:15px; font-weight:700; color:#333333; text-transform:uppercase; text-decoration:none;}
.mylist a:hover {color:#6fbe44;}
.mylist a img { vertical-align:middle; width:auto !important; float:none !important;}
.wrap img { /*border-radius:5px; border:2px solid #cccccc; padding:15px;*/}

.carousel { position:relative; min-height: 20px; height:auto !important; height: 20px;  background:url(images/loader.gif) center center no-repeat; }
			.carousel .next { display:inline-block; width:26px; height:26px; position:absolute; top:44%; right:0; z-index:9999; cursor:pointer; }
			.carousel .prev { display:inline-block; width:26px; height:26px; position:absolute; top:44%; left:0; z-index:9999; cursor:pointer; }
			.carousel .prev { display:block !important; margin-left:0px; background:url(../images/prev.png) 0 0 no-repeat;  }
			.carousel .next { display:block !important; margin-right:0px;  background:url(../images/next.png) 0 0 no-repeat; }
			.carousel li { display:none; text-align:center; }
			.carousel li img { max-width:100%; height:auto; }
			.paging { position:absolute; z-index:9998; }
			.paging > a { display:block; cursor:pointer; width:40px; height:40px; float:left; background:url(images/dots.png) 0px -40px no-repeat; }
			.paging > a:hover,
			.paging > a.current { background:url(images/dots.png) 0px 0px no-repeat;  }
			.badge { display:block; width:104px; height:104px; background:url(images/badge.png) 0 0 no-repeat; z-index:9000; position:absolute; top:-3px; left:-3px; }
			img { -webkit-user-select: none;  /* Chrome all / Safari all */  -moz-user-select: none;     /* Firefox all */  -ms-user-select: none;      /* IE 10+ */  -o-user-select: none;  user-select: none;}
